* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first {

    font-family: 'Great Vibes', cursive;

    height: 100vh;
    background-color: rgb(230 143 200);
}

#second {
    height: 100vh;
    background-color: rgb(96, 222, 134);
}
h1{
    border: 2px solid;
    text-align: center;
    font-size:50px ;
    
}
.flexcont{
    height: 50vh;
    display: flex;
    border: 2px solid ;
}